{% extends "admin/base.html" %}
{% load static %}
{% block content %}

{% include 'admin/header.html' %}
<div class="container-fluid py-4">
  {% include 'admin/alert.html' %}
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Image List</h6>
                </div>
                <div class="col-6 text-end">
                    <a href="{% url 'imageadd' %}">
                        <button class="btn btn-primary btn-sm mb-0">Add image</button>
                    </a>
                  
                </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <!-- <th>Status</th> -->
                      <th scope="col">Action</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for gallery in gallerys %}
                    <tr class="text-center">
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>
                        {% if gallery.image %}
                            <a href="{{ gallery.image.url }}" target="_blank">
                            <img src="{{ gallery.image.url}}" alt="" class="img-fluid" style="max-width: 100px;">
                            </a>
                        {% else %}
                            None
                        {% endif %}
                      </td>
                      <td>
                        <span>
                            <a href="{% url 'imageview' gallery.id %}">
                                <i class="bi bi-eye-fill text-primary"></i>
                            </a>
                        </span>
                        <span>
                          {% comment %} <a href="{% url 'door_edit' door.id %}"> {% endcomment %}
                            {% comment %} <i class="bi bi-pencil-square"></i> {% endcomment %}
                          {% comment %} </a> {% endcomment %}
                        </span>
                        <span>
                          {% comment %} <a href="{% url 'door_delete' door.id %}"  {% endcomment %}
                            {% comment %} onclick="return confirm('Do you want to delete this image?')"> {% endcomment %}
                            {% comment %} <i class="bi bi-trash3-fill text-danger"></i> {% endcomment %}
                          {% comment %} </a> {% endcomment %}
                        </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
</main>

{% endblock content %}