{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'header.html' %}
<div class="privacy-policy-area pt-95 pb-70 mt-5">
    <div class="container">
        <div class="privacy-policy-content">
            <span class="sub">BrainFast Abacus</span>
            <div class="cards">
                <h1>What is Abacus?</h1>
                <p>Abacus makes your brain stronger. Abacus is not just about math, it also helps you to develop your brain. When you need to do a lot of abacus, your brain cells work a lot and new brain cell connections grow from one cell to another. These new connections mean that your brain becomes smarter. You can defeat yourself by using your brain.</p>
                
            </div>
            <div class="container py-5">
                <h1 class="text-center mb-4" style="color: #001e43; font-weight: bold;">BrainFast Course Structure</h1>
            
                <div class="row">
                    <!-- BrainFast Kids Abacus Section -->
                    <div class="col-md-6 mb-4">
                        <div class="card" style="max-width: 100%;">
                            <div class="card-header text-white text-center" style="background-color: #001e43;">
                                <h3 class="d-inline">BrainFast Kids Abacus</h3>
                                <p class="mb-0 text-white d-inline">(Age Group: 4 - 7 Years)</p>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Grade</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Duration</th>
                                            <th scope="col">Classes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>UKG</td>
                                            <td>Buds Level</td>
                                            <td>5 Months</td>
                                            <td>2 Hours per Week</td>
                                        </tr>
                                        <tr>
                                            <td>1st STD</td>
                                            <td>Junior Level</td>
                                            <td>5 Months</td>
                                            <td>2 Hours per Week</td>
                                        </tr>
                                        <tr>
                                            <td>2nd STD</td>
                                            <td>Junior Plus Level</td>
                                            <td>5 Months</td>
                                            <td>2 Hours per Week</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            
                    <!-- BrainFast Abacus Section -->
                    <div class="col-md-6">
                        <div class="card" style="max-width: 100%;">
                            <div class="card-header text-white text-center" style="background-color: #fa394a;">
                                <h3 class="d-inline">BrainFast Abacus</h3>
                                <p class="mb-0 text-white d-inline">(Age Group: 8 - 14 Years)</p>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Level</th>
                                            <th scope="col">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total Levels</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td>Duration</td>
                                            <td>5 Months/Level</td>
                                        </tr>
                                        <tr>
                                            <td>Classes</td>
                                            <td>2 Hours per Week</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-card">
                <h3>A perfect tool for the mind</h3>
                <p>A proven track record through history and recent neuroscientific research has positively confirmed the effectiveness of the abacus training. Calculating on an ancient abacus that utilizes a hands-on, kid-friendly, and multiple intelligence approach has proven benefits to enhance the development of human brain power.</p>
            </div>
            <div class="list-card">
                <h3>Move fingers and activate nerve cells</h3>
                
                <ul class="list-unstyled ps-0 mb-0">
                    <li>
                        <i class="ri-checkbox-circle-line"></i>
                        Nerve cells in the neocortex of the brain consist of 14 billion sets of motor nerves and sensory nerves.
                    </li>
                    <li>
                        <i class="ri-checkbox-circle-line"></i>
                        Moving fingers and talking aloud lead to activation by providing appropriate stimuli in the large part of sensory-to-motor domains in the cerebral neocortex.
                    </li>
                    <li>
                        <i class="ri-checkbox-circle-line"></i>
                        In this sense, starting abacus learning as young as possible is useful in activating the brains of young children.
                    </li>
                </ul>
            </div>
        
        </div>
    </div>
</div>
<div class="support-area pt-80 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="support-image">
                    <img src="{% static 'assets/img/pages/abacus.jpg' %}" alt="support-image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="support-content">
                    <div class="title">
                        <h2>Development of the right brain</h2>
                    </div>
                    <div class="questions-content">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span>The human brain consists of the right brain and the left brain.</span>
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span>The left brain (the digital brain) controls reading, writing, calculation, and logical thinking.</span>
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span>Training the right brain improves creativity and artistic senses.</span>
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span>Abacus users visualize an image of the abacus in their head to carry out a calculation.</span>
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <span>This action suggests that this operation effectively trains the right brain.</span>
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <span>What is important is that the ability to visualize can be put to use for other subjects and behaviors</span>
                                    </button>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="privacy-policy-area pt-100 pb-75">
    <div class="container">
        <div class="privacy-policy-content">
           
            <div class="cards">
                <h1>How Abacus helps in Brain Development?</h1>
                <p style="color: #202020;">As it was said that our brain is divided into two parts, Left and Right brain, our left brain helps in logical calculations, analysing things, mathematical calculation, storing words and our right brain helps in creative thinking, visualizations, imagination and reasoning ability.</p>
                <p style="color:#202020;text-align: justify;">Nowadays, education techniques develop the left brain only. But when children practice on abacus, they use their both hands. Abacus gives the exercise to both sides of the brain, and when a child does the mental arithmetic, he concentrates and visualizes the picture of Abacus. With each calculation, he changes the position of beads in his mind instantly. This process is an excellent exercise for the brain and in turn, it helps in brain development.</p>
            </div>
        
        </div>
    </div>
</div>
<div class="container">
    <!-- ROOTS ABACUS & VEDIC MATHS FRANCHISE Section -->
    <div class="row justify-content-center mt-1 pb-70">
        <div class="col-12 text-center">
            <h1 style="font-weight:bold;color: #002a5c;">Brain Fast Abacus & Vedics Programme Highlights</h1>
            {% comment %} <h2>FRANCHISE</h2> {% endcomment %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-2">
            <div style="position: relative; width: 100%; padding-bottom: 100%; margin: 1rem 0;">
                <div style="position: absolute; width: 100%; height: 100%; clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); display: flex; align-items: center; justify-content: center; text-align: center; background-color: #f89c1c;">
                    <div style="font-size: 1rem; color: white; padding: 2rem;">Play and Learn method</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div style="position: relative; width: 100%; padding-bottom: 100%; margin: 1rem 0;">
                <div style="position: absolute; width: 100%; height: 100%; clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); display: flex; align-items: center; justify-content: center; text-align: center; background-color: #94c843;">
                    <div style="font-size: 1rem; color: white; padding: 2rem;"> Child-friendly syllabus</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div style="position: relative; width: 100%; padding-bottom: 100%; margin: 1rem 0;">
                <div style="position: absolute; width: 100%; height: 100%; clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); display: flex; align-items: center; justify-content: center; text-align: center; background-color: #1cb0f8;">
                    <div style="font-size: 1rem; color: white; padding: 2rem;">Advanced course curriculum</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div style="position: relative; width: 100%; padding-bottom: 100%; margin: 1rem 0;">
                <div style="position: absolute; width: 100%; height: 100%; clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); display: flex; align-items: center; justify-content: center; text-align: center; background-color: #43c8c8;">
                    <div style="font-size: 1rem; color: white; padding: 2rem;">Excellent, Experienced trained faculty</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div style="position: relative; width: 100%; padding-bottom: 100%; margin: 1rem 0;">
                <div style="position: absolute; width: 100%; height: 100%; clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); display: flex; align-items: center; justify-content: center; text-align: center; background-color: #c843c8;">
                    <div style="font-size: 1rem; color: white; padding: 2rem;">Affordable fee structure</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div style="position: relative; width: 100%; padding-bottom: 100%; margin: 1rem 0;">
                <div style="position: absolute; width: 100%; height: 100%; clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); display: flex; align-items: center; justify-content: center; text-align: center; background-color: #f07b8e;">
                    <div style="font-size: 1rem; color: white; padding: 1rem;">World-renowned training methodology</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="program-area pt-100 pb-75">
    <div class="container">
        <h1 style="font-weight:bold;color: #002a5c;">The Advantage of Abacus Learning</h1>
        <div class="list-info mt-4">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        {% comment %} <i class="ri-check-line" style="color: red; "></i> {% endcomment %}
                        <p style="text-decoration: underline;font-weight: bold; margin-left: 20px;">Develops</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Memory power</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Speed and Accuracy</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Creativity</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Self-confidence</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Imagination</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Visualization</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Concentration</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Listening skill</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Presentation</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Observation</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>Learning ability</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="applications-card d-flex align-items-center">
                        <i class="ri-check-line" style="color: red;"></i>
                        <p>All-round academic performance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}