{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'header.html' %}



<div class="privacy-policy-area pt-100 pb-75">
    <div class="container">
        <div class="privacy-policy-content">
            <span class="sub">Terms & Conditions</span>
            <div class="cards">
                <h1>This policy sets out the usage of the Aegis website</h1>
                <p>Aliquet vitae tristique faucibus viverra bibendum porttitor. Nisi sit tempor cras felis in. Molestie morbi pellentesque pharetra orci facilisis ante neque aliquam. Morbi in pharetra sodales tellus arcu justo. Rutrum purus natoque vel scelerisque porttitor purus odio amet blandit.</p>
                <p>Purus erat sed nulla massa id integer et. Ut ultricies tellus consectetur nulla hendrerit. Eget parturient scelerisque viverra tortor suspendisse felis. Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque. Sollicitudin accumsan adipiscing nunc nulla. Volutpat semper morbi tellus tincidunt habitasse.Elementum a vel massa consequat. Aliquet imperdiet neque rhoncus nec nulla molestie sed. Arcu porttitor sodales vitae tellus sodales euismod donec magna pulvinar. Ullamcorper non cursus egestas suspendisse posuere fringilla. Turpis pellentesque morbi in nisi.</p>
            </div>

            <div class="list-card">
                <h3>Acceptance of terms</h3>
                <p>Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque. Sollicitudin accumsan adipiscing nunc nulla. Volutpat semper morbi tellus tincidunt habitasse.Elementum a vel massa consequat. Aliquet imperdiet neque rhoncus nec nulla molestie sed. Arcu porttitor sodales vitae tellus sodales euismod donec magna pulvinar. Ullamcorper non cursus egestas suspendisse posuere fringilla. Turpis pellentesque morbi in nisi.</p>
            </div>
            <div class="list-card">
                <h3>Service description</h3>
                <p>Aliquet vitae tristique faucibus viverra bibendum porttitor. Nisi sit tempor cras felis in. Molestie morbi pellentesque pharetra orci facilisis ante neque aliquam. Morbi in pharetra sodales tellus arcu justo. Rutrum purus natoque vel scelerisque porttitor purus odio amet blandit. Purus erat sed nulla massa id integer et. Ut ultricies tellus consectetur nulla hendrerit. Eget parturient scelerisque viverra tortor suspendisse felis. Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque. Sollicitudin accumsan adipiscing nunc nulla. Volutpat semper morbi tellus tincidunt habitasse.Elementum a vel massa consequat. Aliquet imperdiet neque rhoncus nec nulla molestie sed. Arcu porttitor sodales vitae tellus sodales euismod donec magna pulvinar. Ullamcorper non cursus egestas suspendisse posuere fringilla. Turpis pellentesque morbi in nisi.</p>
            </div>
            <div class="list-card">
                <h3>Use of services</h3>
                <p>Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque. Sollicitudin accumsan adipiscing nunc nulla. Volutpat semper morbi tellus tincidunt habitasse.Elementum a vel massa consequat. Aliquet imperdiet neque rhoncus nec nulla molestie sed. Arcu porttitor sodales vitae tellus sodales euismod donec magna pulvinar. Ullamcorper non cursus egestas suspendisse posuere fringilla. Turpis pellentesque morbi in nisi.</p>
            </div>
            <div class="list-card">
                <h3>Accuracy of Information</h3>
                <p>Aliquet vitae tristique faucibus viverra bibendum porttitor. Nisi sit tempor cras felis in. Molestie morbi pellentesque pharetra orci facilisis ante neque aliquam. Morbi in pharetra sodales tellus arcu justo. Rutrum purus natoque vel scelerisque porttitor purus odio amet blandit. Purus erat sed nulla massa id integer et. Ut ultricies tellus consectetur nulla hendrerit. Eget parturient scelerisque viverra tortor suspendisse felis. Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque. Sollicitudin accumsan adipiscing nunc nulla. Volutpat semper morbi tellus tincidunt habitasse.Elementum a vel massa consequat. Aliquet imperdiet neque rhoncus nec nulla molestie sed. Arcu porttitor sodales vitae tellus sodales euismod donec magna pulvinar. Ullamcorper non cursus egestas suspendisse posuere fringilla. Turpis pellentesque morbi in nisi.</p>
            </div>
            <div class="list-card">
                <h3>Confidentiality and data security</h3>
                <p>Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque. Sollicitudin accumsan adipiscing nunc nulla. Volutpat semper morbi tellus tincidunt habitasse.Elementum a vel massa consequat. Aliquet imperdiet neque rhoncus nec nulla molestie sed. Arcu porttitor sodales vitae tellus sodales euismod donec magna pulvinar. Ullamcorper non cursus egestas suspendisse posuere fringilla. Turpis pellentesque morbi in nisi.</p>
                <ul class="list-unstyled ps-0 mb-0">
                    <li>
                        <i class="ri-checkbox-circle-line"></i>
                        Mattis proin auctor euismod in enim elit vitae scelerisque scelerisque.
                    </li>
                    <li>
                        <i class="ri-checkbox-circle-line"></i>
                        Sollicitudin accumsan adipiscing nunc nulla.
                    </li>
                    <li>
                        <i class="ri-checkbox-circle-line"></i>
                        Volutpat semper morbi tellus tincidunt habitasse.
                    </li>
                </ul>
            </div>
            <div class="list-card">
                <h3>Contact information</h3>
                <p>If you have any questions or concerns regarding these Terms of Use or our services, please contact us at 
                    <a class="text-decoration-none" href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#a9cac6c7ddc8cadde9c8cdc4c887cac6c487"><strong><span class="__cf_email__" data-cfemail="86e5e9e8f2e7e5f2c6e7e2ebe7a8e5e9eb">[email&#160;protected]</span>.</strong></a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}