
{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'header.html' %}
        
        <!-- Start Contact Area -->
        <div class="contact-area pt-100 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <h1>Get In Touch</h1>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control textarea" placeholder="Your comments..."></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Save my name, email, and website in this browser for the next time I comment.
                                    </label>
                                </div>
                                <button type="submit" class="default-btn border-0">
                                    Send Message
                                    <i class="flaticon-right-arrow"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-information">
                            <h3>Contact Information</h3>
                            <div class="information-card d-flex align-items-center">
                                <div class="icon">
                                    <i class="ri-phone-line"></i>
                                </div>
                                <div class="content">
                                    <span>Call Us:</span>
                                    <a class="d-block text-decoration-none" href="tel:45993939990">+459 9393 9990</a>
                                </div>
                            </div>
                            <div class="information-card d-flex align-items-center">
                                <div class="icon">
                                    <i class="ri-message-line"></i>
                                </div>
                                <div class="content">
                                    <span>Mail Us:</span>
                                    <a class="d-block text-decoration-none" href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#3d5c59505c4e484d4d524f497d5a505c5451135e5250"><span class="__cf_email__" data-cfemail="a2c3c6cfc3d1d7d2d2cdd0d6e2c5cfc3cbce8cc1cdcf">[email&#160;protected]</span></a>
                                </div>
                            </div>
                            <div class="information-card d-flex align-items-center">
                                <div class="icon">
                                    <i class="ri-calendar-2-line"></i>
                                </div>
                                <div class="content">
                                    <span class="d-block">MOpening Hours:</span>
                                    <p>Mon - Sat: 09.00am to 18.00pm</p>
                                </div>
                            </div>
                            <div class="information-card d-flex align-items-center">
                                <div class="icon">
                                    <i class="ri-map-pin-line"></i>
                                </div>
                                <div class="content">
                                    <span class="d-block">Location:</span>
                                    <p>3rd cros, New york ,USA 109002</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact Area -->

        <!-- Start Contact Map -->
        <div class="contact-map">
            <div class="container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d922.8519049853484!2d114.17725747336722!3d22.300418736749894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ee492bbc0d%3A0x537f183d69286e9e!2sUrban%20Council%20Centenary%20Garden!5e0!3m2!1sen!2sbd!4v1698038945202!5m2!1sen!2sbd"></iframe>
            </div>
        </div>
        <!-- End Contact Map -->
        


{% endblock content %}