{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'header.html' %}
{% comment %} <div class="pages-banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="pages-title">
                    <h2>All Events</h2>
                    <ul class="list-unstyled ps-0 mb-0">
                        <li class="d-inline-block">
                            <a class="text-decoration-none" href="index.html">
                                Home
                            </a>
                        </li>
                        <li class="d-inline-block">
                            All Events
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pages-image">
                    <img src="{% static 'assets/img/pages/pages-8.jpg' %}" alt="pages-image">
                </div>
            </div> 
        </div>
    </div>
    <div class="shape-7">
        <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="shape">
    </div>
</div> {% endcomment %}
<!-- End Pages Banner Area -->

<!-- Start Events Area -->
<div class="event-area pt-90 pb-75">
    <div class="container">
        <div class="section-title text-center m-auto p-5" data-cues="slideInUp">
            <h2>Our Events</h2>
        </div>
        <div class="row justify-content-center" data-cues="slideInUp">
            {% for event in page_obj %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="single-events-card ">
                        <a class="text-decoration-none d-block image" href="{{ event.details_url }}">
                            <img 
                                src="{{ event.image.url }}" 
                                alt="{{ event.title }}" 
                                style="width:100%; height: 250px; object-fit: cover; border-radius: 5px;">
                        </a>
                        <div class="content d-flex align-items-top">
                            <div class="title">
                                <h3>
                                    <a class="text-decoration-none" >{{ event.description }}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <i class="ri-arrow-left-s-line"></i>
                        </a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                <li class="page-item ">
                    <a class="page-link {% if page_obj.number == num %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <i class="ri-arrow-right-s-line"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        
    </div>
</div>
{% endblock content %}