{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'header.html' %}
       
        <!-- Start Programs Area -->
        <div class="program-area pt-95 pb-75 mt-3">
            <div class="container">
                <div class="programs-section-title">
                    <h2>All Programs</h2>
                </div>
        
                <div class="row justify-content-center">
                    {% for program in page_obj %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-programs-card">
                                <div class="image">
                                    <a href="{{ program.get_absolute_url }}">
                                        <img src="{{ program.image.url }}" alt="{{ program.title }}">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>{{ program.title }}</h3>
                                    <p>{{ program.description|truncatewords:20 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <i class="ri-arrow-left-s-line"></i>
                                </a>
                            </li>
                        {% endif %}
        
                        {% for page_num in page_obj.paginator.page_range %}
                            <li class="page-item ">
                                <a class="page-link {% if page_obj.number == page_num %}active{% endif %}" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endfor %}
        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        
 {% endblock content %}